{% form_theme createForm 'bootstrap_4_layout.html.twig' %}
<!DOCTYPE html>
<head>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/login.css') }}">

        {% endblock %}
    </head>


            <body>
            <div class="container">
                <div class="row">
                    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                        <div class="card card-signin my-5">
                            <div class="card-body">
                                <h5 class="card-title text-center">Change MTP</h5>
                                {% for message in app.flashes('notice') %}
                                 <div class="alert alert-success">
                                    {{ message }}
                                 </div>
                                {% endfor %}
                                <form method="post" class="form-signin" >

                                    
                                    {{ form_errors(createForm) }}
                                    {{ form_row(createForm._token) }}
                                    <div class="form-label-group">
                                       {{ form_label(createForm.oldPassword, 'Ancien MTP') }}
                                       {{ form_widget(createForm.oldPassword, {'attr': {'class': 'form-control','label': 'Submit me' }}) }}
                                        
                                    </div>

                                    <div class="form-label-group">
                                           {{ form_label(createForm.plainPassword, 'Nouveau  MTP') }}
                                          {{ form_widget(createForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder' : 'Ancien MTP'}}) }}
                                          
                                    </div>
                                      {{  form_row(createForm.submit, {'attr': {'class': 'btn btn-lg btn-primary btn-block text-uppercase'}}) }} 
                                       <a href="{{ path('index')}}" class="btn btn-lg btn-primary btn-block text-uppercase mt-3 reg" >Accueil</a>
                                    
                                   
                              
                                </form>
                               
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="/js/bootstrap.bundle.min.js"></script>
            </body>


    </html>


